Package: hddwatch
Version: 1.0
Section: misc
Priority: important 
Architecture: armel
Depends: systemd
Installed-Size: 8
Maintainer: Sunke Schlüters <post@scus.net>
Description: Watches HDD in DNS-320L for reallocated sectors


