[Unit]
Description=Fan controller 
OnFailure=device_failure.service

[Service]
Restart=always
ExecStart=/usr/bin/fancontrol

[Install]
WantedBy=multi-user.target
